<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement_logindown_cell-BGLY.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>achievement_logindown_cell-agq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>achievement_logindown_cell-astt.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>achievement_logindown_cell-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,103}}</string>
                <key>sourceSize</key>
                <string>{215,103}</string>
            </dict>
            <key>achievement_logindown_cell-ll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{110,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{110,94}}</string>
                <key>sourceSize</key>
                <string>{118,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievement_logindown.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e23ae250565f7370c77efd3d2a67f2c7$</string>
            <key>textureFileName</key>
            <string>achievement_logindown.png</string>
        </dict>
    </dict>
</plist>
