<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moster0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,180},{58,74}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,31},{58,74}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,304},{60,76}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,40},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,116},{62,78}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,43},{62,78}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,180},{60,78}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,38},{60,78}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,120},{58,82}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,33},{58,82}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,240},{60,76}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,29},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,114},{62,76}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,40},{62,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{60,78}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,43},{60,78}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,54},{60,80}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,37},{60,80}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,110},{58,82}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,32},{58,82}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,420},{58,74}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,31},{58,74}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{60,76}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,242},{60,76}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,242},{60,76}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,232},{60,76}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{64,74}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,43},{64,74}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,396},{56,74}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,44},{56,74}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,268},{42,66}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{42,66}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{72,68}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,50},{72,68}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{108,48}}</string>
                <key>offset</key>
                <string>{-35,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,70},{108,48}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,50}}</string>
                <key>offset</key>
                <string>{-35,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,67},{108,50}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,50}}</string>
                <key>offset</key>
                <string>{-35,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,67},{108,50}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{106,50}}</string>
                <key>offset</key>
                <string>{-35,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,67},{106,50}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,52},{96,60}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,66},{96,60}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{80,54}}</string>
                <key>offset</key>
                <string>{-35,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,65},{80,54}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{74,72}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{74,72}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,54},{54,92}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,25},{54,92}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,76},{42,90}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,27},{42,90}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{60,76}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,302},{60,66}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,51},{60,66}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,394},{60,72}}</string>
                <key>offset</key>
                <string>{29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,45},{60,72}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,112},{46,80}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,38},{46,80}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{52,82}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,38},{52,82}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{56,78}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,39},{56,78}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,170},{60,76}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{60,76}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,54},{56,48}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,44},{56,48}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,336},{60,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,44},{60,56}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,194},{72,42}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,86},{72,42}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,170},{62,30}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,89},{62,30}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>moster0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,366},{62,28}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,100},{62,28}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e310b7536fc3a3ec8d495299bad723b:1/1$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
