<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,340},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>bossBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>bossBomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,294},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>bossFire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>bossShield.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,248},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>bossSpawner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>greenL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>greenM.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,420},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{28,60}</string>
            </dict>
            <key>greenS.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,450},{20,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,60}}</string>
                <key>sourceSize</key>
                <string>{20,60}</string>
            </dict>
            <key>movingBarBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,450},{10,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,60}}</string>
                <key>sourceSize</key>
                <string>{10,60}</string>
            </dict>
            <key>necroBlip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{32,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,60}}</string>
                <key>sourceSize</key>
                <string>{32,60}</string>
            </dict>
            <key>redL.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,202},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>redM.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{32,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,60}}</string>
                <key>sourceSize</key>
                <string>{32,60}</string>
            </dict>
            <key>redS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{20,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,60}}</string>
                <key>sourceSize</key>
                <string>{20,60}</string>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,156},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>shield3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>shield4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,450},{4,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,23}}</string>
                <key>sourceSize</key>
                <string>{4,23}</string>
            </dict>
            <key>speed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,110},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>splitter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>yellowL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>yellowM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>yellowM_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>yellowS.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tp_slider.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6100eb0c645af59dd2b36a9104780d88:1/1$</string>
            <key>textureFileName</key>
            <string>tp_slider.png</string>
        </dict>
    </dict>
</plist>
