<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,225},{12,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{12,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>1full.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,180},{12,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{12,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,467},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,467},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>2empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,467},{34,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{34,43}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,423},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,360},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,379},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,335},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,313},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,266},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,219},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,172},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,125},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,78},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>comboBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{238,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,12}}</string>
                <key>sourceSize</key>
                <string>{238,12}</string>
            </dict>
            <key>comboHolder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,20}}</string>
                <key>sourceSize</key>
                <string>{244,20}</string>
            </dict>
            <key>damageIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,438},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>enemyHealthIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,404},{40,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>enemyHealthIconDeath.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,427},{40,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>enemyHealthIconDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,381},{44,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,38}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>enemyHealthIconDragonPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,335},{44,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,38}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>enemyHealthIconKnight.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,38},{50,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>enemyHealthIconOgre.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,360},{42,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>greenBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{176,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,20}}</string>
                <key>sourceSize</key>
                <string>{176,20}</string>
            </dict>
            <key>healthBarBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>heroHealthIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,404},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>leaderboardBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,335},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>powerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,270},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>quitBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>resumeBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>rewardBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{177,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,161}}</string>
                <key>sourceSize</key>
                <string>{177,161}</string>
            </dict>
            <key>rewardBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>whiteBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,24},{154,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,12}}</string>
                <key>sourceSize</key>
                <string>{154,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tp_ui.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:138d2849122b1a0fc6abf77089295f4e:1/1$</string>
            <key>textureFileName</key>
            <string>tp_ui.png</string>
        </dict>
    </dict>
</plist>
